<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SilverTune.Properties.Settings.PhaseOneDBConnection"
            connectionString="Data Source=146.230.177.46\;Initial Catalog=WstGrp3;User ID=WstGrp3;Password=9ad1d"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>